/* 
Colors to Use
5e5o3f -- Dark Brown
A9927D -- Light Brown
f2f4f3 -- White
22333B -- blueish?
0a0908 -- black
*/

body {
    background-image: url(knitting250px/knitting250px_@2X.png);
}

h1 {
    text-align: center;
    color: #5E503F;
    letter-spacing: 1.5em;
    font-variant: small-caps;
        text-shadow:
            -2px -2px 0 #0a0908,
            2px -2px 0 #0a0908,
            -2px 2px 0 #0a0908,
            2px 2px 0 #0a0908;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(34,51,59, .4);
    margin: 1em 0;
    padding: 0; 
}

p {
    text-align: center;
}

img {
    height: auto;
    width: 150px;
    transition: transform 1s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

#main {
    position: absolute;
    margin: 0 auto;
    top:25%;
    background-color: rgb(242,244,243, .7);
    width: 100%;
    z-index: -1;
    overflow: scroll;
    height: 75%;
}

#about, #projects, #contact {
    width: 80%;
    margin: 0 auto;
    padding: 35px;
}

#about {
    position: relative;
    margin-top: 85px;
}

.dot {
    background-image: url(images/Headshot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 4%
  }

.condiv{
    float: left;
    margin: 4.75%;
    text-align: center;
  }

  #linktoproj {
      margin: 0 auto;
  }

  .left, .center, .right {
    margin: 0 auto;
  }